.post img {
    width: 400px;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.post a {
    text-decoration: none;
    color: inherit;
    
}

.post textarea{
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 25%;
    height: 50px;
    resize: none;
}

header a{
    text-decoration: none;
    color: inherit;
}

.post form{
    margin-top: 10px;
    margin-bottom: 10px;
}
